* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #17a2b8;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 90%;
  margin: auto;
  background-color: white;
  padding: 30px;
}
.container {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 20px;
}
.text {
  font-size: 23px;
  font-family: pop;
  letter-spacing: 1.3px;
  line-height: 140%;
  margin-bottom: 20px;
}
