* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #17a2b8;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 90%;
  margin: auto;
  background-color: white;
  padding: 30px;
}
.container {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 20px;
}
.text {
  font-size: 21px;
  font-family: sans-serif;
  letter-spacing: 1.3px;
  line-height: 140%;
  margin-bottom: 20px;
  position: relative;
}
.Rules {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.timeleft {
  font-size: 18px;
  font-family: sans-serif;
}
.timeleft span {
  font-weight: bold;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #17a2b8;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 19px;
  font-weight: bold;
}

.correct {
  color: #20fc08;
}
.incorrect {
  color: #cb3439;
  outline: 1px solid #fff;
  background: pink;
  border-radius: 4px;
}
.active {
  color: #17a2b8;
  /* text-decoration: underline; */
}
.text span {
  position: relative;
}
.text span.active::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  opacity: 0;
  animation: blinking 1s ease-in-out infinite;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
}
input {
  opacity: 0;
  position: absolute;
}
