* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #5372f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.QuoteContianer {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
.QuoteHeader {
  text-align: center;
}
.QuoteHeader h1 {
  font-size: 2.5rem;
}
