*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(24, 19, 19);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
width: 50%;
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%);
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
}
h1{
  margin-bottom: 55px;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  font-family:  "Roboto", sans-serif;
  letter-spacing: 3px;
  color: white;
}

.container1{
  display: flex;
  width: 100%;
  height: 55px;
  background-color: palevioletred;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid white;
  /* margin-bottom: 10px; */
  color: black;
  position: relative;
  
}
section{
  margin: 8px 0;
  padding: 10px;
  width: 600px;
}

.hiddentext{
  text-align: start;
  font-size: 18px;
  font-family:   "Roboto", sans-serif ;
  font-weight: 500;
  padding: 0 8px;
  background-color: white;
  padding: 10px;
  display: none;
  
}
button{
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.btnhiden{
  position: absolute;
  right:11.8%;
  color: white;
 /* display: none;  */
} 

.showAll .btnhiden {
  display: block;
  top: 12px
}

.showAll .clickbtn{
  display: none;
}

.showAll .hiddentext{
  display: block;
}

@media screen and (max-width: 650px) {
  
  .container1{
    width: 80%;
    margin: auto;
  }
  .hiddentext{
    width: 80%;
    margin: auto;
  }
  .btnhiden{
    right: 8.8%;
  }
}

