* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #6563ff;
  display: flex;
  height: 100vh;
}
img {
  margin: auto;
  width: 40px;
  position: relative;
}

.view {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
}
.view img {
  margin: auto;
}
.view:hover {
  display: none;
}
