* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6563ff;
  height: 100vh;
  display: flex;
}

main {
  width: 90%;
  margin: auto;
  background-color: white;
  color: black;
}

.header {
  width: 100%;
  /* margin-bottom: 30px; */
  border-bottom: 2px solid black;
  padding: 30px 20px;
  font-family: sans-serif;
}
.container {
  padding: 20px;
}
.word {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 10.9px;
  font-family: sans-serif;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: bold;
}
.warning,
.time {
  font-size: 21px;
  font-family: sans-serif;
  margin-bottom: 25px;
}
.time {
  margin-bottom: 30px;
}
input {
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 2rem;
  border-radius: 6px;
}
input::placeholder {
  font-size: 20px;
}

.btns {
  display: flex;
  gap: 30px;
  justify-content: center;
}

button {
  padding: 20px 35px;
  background-color: #6563ff;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  transition: transform 0.3s ease-in-out;
  margin: 15px 0;
}
button:hover {
  transform: scale(1.1);
}
