*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nova Square', cursive;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.center h1{
font-size: 5rem;
margin-bottom: 4rem;
}
.center .buttons{
    display: flex;
    flex-direction: column;
}
.center button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0;
    width: 400px;
    background-color: rgb(18, 92, 255);
    margin: 1rem 0;
    font-family: 'Nova Square', cursive;
    border: transparent;
    border-radius: 5px;
}
.center button:hover{
    box-shadow: 0 0.4rem 1.4em rgb(8, 114, 244);
    transform:scale(1.03);
}
#high-score{
    background-color:#FFFF00;
}
.fa-crown{
    margin-left: 1rem;
}


/* QUIZ APP */
.quiz{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.quiz .center-container{
    width: 80%;
    margin: auto;
}

.quiz .container-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
#proggress{
    width: 200px;
    height: 30px;
    border: 1px solid rgb(51, 244, 51);
    background-color: transparent;
    border-radius: 50px;
    margin-top: 1rem;

}
.right-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-choses{
    width: 100%;
    background-color: rgb(18, 92, 255);
    margin: 1.5rem 0;
    display: flex;
    gap: 0 50px;
    padding: 1rem;
    border-radius: 10px;
}
.quiz p{
    font-size: 1rem;
    font-weight: bold;
}
.quiz .container-choses:hover{
    transform: scale(1.03);
}
.quiz .Choice-text{
    width: 100%;
}

.progressgo{
    height: 100%;
    width: 0%;
    background-color:rgb(51, 244, 51);
    border-radius: 50px;
}




.quiz{
    position: relative;
}



.Choice-text{
    font-family: Arial, Helvetica, sans-serif;
}


.containerResult{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.containerResult .savedAlert{
    position: absolute;
    top: 120px;
    background-color: red;
    width: 100%;
    text-align: center;
    padding: 6px 0;
}

form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
     align-items: center;
}
input{
    margin-bottom: 1rem;
    padding: 15px 10px;
    caret-color: red;
}
.containerResult button{
    padding: 15px 47px;
    margin: 8px 0;
}
.containerResult .Play{
    padding: 15px 65px;
}

/* HIGH SCORES */

.scoresContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
.scoresContainer h1{
    margin-bottom: 25px;
}
.scoresContainer button{
    padding: 10px 20px;
    background-color:transparent;
    border-color: rgb(8, 114, 244);
    border: 2px solid rgb(18, 92, 255);
    border-radius: 5px;
    transition: transform 0.25s ease-in-out;
    font-weight: bold;
}
.scoresContainer button:hover{
    transform: scale(1.2);
    background-color: rgb(18, 92, 255);
}
.scoresContainer ul{
    margin-bottom: 2rem;
}
.scoresContainer li{
    width: 300px;
    padding: 10px;
    background-color: rgb(18, 92, 255);
    margin: 10px 0;
    font-size: 30px;
}












.sectionload{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite; 
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

















/* effects in javascript */
.display{
    display: none;
}
.disabled:hover{
    cursor: not-allowed;
	box-shadow: none;
    transform: none;
}

.correct{
    background: green;
}
.incorrect{
    background-color: red;
}
