* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding-bottom: 250px;
  background-color: #536472;
}
img {
  width: 100%;
  height: 100%;
}

.mobile-contianer {
  width: 100%;
  height: 100vh;
}

.header {
  padding: 0 30px;
  width: 100%;
  display: flex;
  height: 60px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}
.logo {
  transition: display 1s ease-in-out;
}

.logo img {
  width: 100px;
}
.search {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.search .display {
  padding: 10px;
  border: none;
  outline: none;
  width: 150px;
  height: 0px;
  border: none;
  border-bottom: 2px solid black;
  display: none;
  transition: display 1s ease-in;
}
.search .showSearch {
  display: inline-block;
}
.hide {
  display: none;
}
.header .menu {
  font-size: 22px;
}

/* favories */
.Favorites {
  width: 100%;
  background-color: rgb(229, 242, 242);
  background-color: #dddad9;
}
.fav-container {
  height: 150px;
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: center;
}
.fav-container li {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.fav-container img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.fav-container p {
  font-size: 20px;
  font-size: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.2px;
}

/* adver-container */

.adver-container {
  width: 88%;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem 1rem;
  padding-top: 1rem;
  background: rgb(2, 0, 36);
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);

  /* background-color: #9695ED; */
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.brand {
  margin-bottom: 1.2rem;
  position: relative;
  padding: 0 0.5rem;
}
.brand h3 {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
.brand p {
  font-size: 1.3rem;
}
.brand a {
  position: absolute;
  font-size: 30px;
  top: 0;
  right: 0px;
  color: white;
}
.btn {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2rem;
}
.btn button {
  padding: 0.6rem 2rem;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  letter-spacing: 1.2px;
}

/* recipe */

.recipe {
  padding-bottom: 2rem;
  width: 88%;
  margin: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-rows: 1fr 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.recipe img {
  width: 100%;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.recipe .textMeal {
  background-color: white;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  height: 80%;
  justify-content: start;
  align-items: center;
  padding-left: 1rem;
}
.recipe h3 {
  opacity: 0.7;
}

.recipe .icon1 {
  opacity: 0.7;
  padding: 0 0.2rem;
  font-size: 14px;
}
.recipe .icon {
  font-size: 24px;
  position: absolute;
  right: 60px;
}
.recipe .img {
  position: relative;
}
.mealtitlecontainer {
  position: absolute;
  top: 15px;
  left: 0;
  background: white;
  background-color: white;
  padding: 2px 20px;
  padding-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.recipe .img .mealtitle {
  color: black;
}
.btnget {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start {
  padding: 10px;
  background-color: rgb(206, 166, 166);
  color: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
